@reboot bash ~/automation/scripts/production/mongod.sh start >> ~/automation/logs/app.log 2>&1
0 2 * * * bash ~/automation/scripts/production/app.sh unfollow 50 >> ~/automation/logs/app.log 2>&1
0 3 * * * bash ~/automation/scripts/production/app.sh unfollow 60 >> ~/automation/logs/app.log 2>&1
0 4 * * * bash ~/automation/scripts/production/app.sh unfollow 70 >> ~/automation/logs/app.log 2>&1
0 5 * * * bash ~/automation/scripts/production/app.sh unfollow 80 >> ~/automation/logs/app.log 2>&1
0 6 * * * bash ~/automation/scripts/production/app.sh unfollow 90 >> ~/automation/logs/app.log 2>&1
0 7 * * * bash ~/automation/scripts/production/app.sh unfollow 99 >> ~/automation/logs/app.log 2>&1
0 8 * * * bash ~/automation/scripts/production/reboot.sh >> ~/automation/logs/reboot.log 2>&1
0 12,17-23 * * mon bash ~/automation/scripts/production/app.sh follow 40 哲学 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * tue bash ~/automation/scripts/production/app.sh follow 40 哲学者 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * wed bash ~/automation/scripts/production/app.sh follow 40 IT >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * thu bash ~/automation/scripts/production/app.sh follow 40 数学 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * fri bash ~/automation/scripts/production/app.sh follow 40 物理 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * sat bash ~/automation/scripts/production/app.sh follow 40 東浩紀 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * sun bash ~/automation/scripts/production/app.sh follow 40 松本人志 >> ~/automation/logs/app.log 2>&1
