@reboot bash ~/automation/scripts/production/mongod.sh start >> ~/automation/logs/app.log 2>&1
0 0 * * mon,wed,fri,sun bash ~/automation/scripts/production/app.sh unfollow 800 null furimako_en >> ~/automation/logs/app.log 2>&1
0 2 * * mon,wed,fri,sun bash ~/automation/scripts/production/app.sh unfollow 800 >> ~/automation/logs/app.log 2>&1
0 4 * * * bash ~/automation/scripts/production/reboot.sh >> ~/automation/logs/reboot.log 2>&1
0 12,17-23 * * mon bash ~/automation/scripts/production/app.sh follow 40 物理 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * tue bash ~/automation/scripts/production/app.sh follow 40 哲学 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * wed bash ~/automation/scripts/production/app.sh follow 40 哲学者 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * thu bash ~/automation/scripts/production/app.sh follow 40 東浩紀 >> ~/automation/logs/app.log 2>&1
0 12,17-23 * * fri bash ~/automation/scripts/production/app.sh follow 40 落合陽一 >> ~/automation/logs/app.log 2>&1
0 5-11,13-16 * * mon bash ~/automation/scripts/production/app.sh follow 30 philosophy furimako_en >> ~/automation/logs/app.log 2>&1
0 5-11,13-16 * * tue bash ~/automation/scripts/production/app.sh follow 30 philosopher furimako_en >> ~/automation/logs/app.log 2>&1
0 5-11,13-16 * * wed bash ~/automation/scripts/production/app.sh follow 30 mathematics furimako_en >> ~/automation/logs/app.log 2>&1
0 5-11,13-16 * * thu bash ~/automation/scripts/production/app.sh follow 30 physics furimako_en >> ~/automation/logs/app.log 2>&1
0 5-11,13-16 * * fri bash ~/automation/scripts/production/app.sh follow 30 science furimako_en >> ~/automation/logs/app.log 2>&1
# カント、フェミニズム、フェミニスト、ジェンダー
# DaiGo、勝間和代、ひろゆき
# scientist
