0 04 * * * bash ~/automation/scripts/production/reboot.sh >> ~/automation/logs/reboot.log 2>&1
0 1,3,5,7 * * * bash ~/automation/scripts/production/app.sh unfollow 100 >> ~/automation/logs/app.log 2>&1
0 08 * * mon,thu bash ~/automation/scripts/production/app.sh follow 100 生きる >> ~/automation/logs/app.log 2>&1
0 19 * * mon,thu bash ~/automation/scripts/production/app.sh follow 100 死ぬ >> ~/automation/logs/app.log 2>&1
0 21 * * mon,thu bash ~/automation/scripts/production/app.sh follow 100 幸せ >> ~/automation/logs/app.log 2>&1
0 23 * * mon,thu bash ~/automation/scripts/production/app.sh follow 100 哲学 >> ~/automation/logs/app.log 2>&1
0 08 * * tue,fri,sun bash ~/automation/scripts/production/app.sh follow 100 読書 >> ~/automation/logs/app.log 2>&1
0 19 * * tue,fri,sun bash ~/automation/scripts/production/app.sh follow 100 映画 >> ~/automation/logs/app.log 2>&1
0 21 * * tue,fri,sun bash ~/automation/scripts/production/app.sh follow 100 学生 >> ~/automation/logs/app.log 2>&1
0 23 * * tue,fri,sun bash ~/automation/scripts/production/app.sh follow 100 プログラミング >> ~/automation/logs/app.log 2>&1
0 08 * * wed,sat bash ~/automation/scripts/production/app.sh follow 100 アプリ >> ~/automation/logs/app.log 2>&1
0 19 * * wed,sat bash ~/automation/scripts/production/app.sh follow 100 本気 >> ~/automation/logs/app.log 2>&1
0 21 * * wed,sat bash ~/automation/scripts/production/app.sh follow 100 数学 >> ~/automation/logs/app.log 2>&1
0 23 * * wed,sat bash ~/automation/scripts/production/app.sh follow 100 物理 >> ~/automation/logs/app.log 2>&1
